body {
	/* background-color: rgb(39, 67, 112); */
}
#root {
	text-align: center;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 700px;
	height: 100px;
	font-family: 'Montserrat', sans-serif;
}

#quote-box {
	border-radius: 10px;
	margin: auto;
	width: 600px;
	padding: 35px;
	background-color: white;
}

#text-area {
	font-size: 24px;
	margin-bottom: 20px;
}

#author-area {
	text-align: right;
	font-weight: 300;
	margin-bottom: 5px;
}

#button-area {
	margin-bottom: 30px;
}

#share-btns {
	float: left;
}

#new-btn {
	float: right;
}

.button {
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	text-decoration: none;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	display: block;
}

i {
	font-size: 18px;
	margin-right: 10px;
}
